
    


@for $trial from 1 to 6 {
    
    .cell__text-#{$trial}{font-size: 1rem*$trial;}

}



    @media only screen and (max-width: 1110px) {


        .header {
            background-color: #353b3c;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            height: 10%vh;
        
            position: static;
            left: 0;
            right: 0;
            width: 100%;
        //   
        
            
            &__item {
                margin: 0px;
            } 
            
            &__logo {
                color: #ffffff ;
                font-family: 'Limelight', cursive;
                font-size: 4rem;
                font-weight: 100;
                width: 100%;
               
                &_a {
                    color: inherit;
                    text-decoration: none;
                    color: #ffffff ;
                    font-family: 'Limelight', cursive;
                    font-size: 4rem;
                    font-weight: 100;
                }
        
                &_a:hover {
                    color: #ffffff;
                }
            }
            &__list{
                list-style: none;
                display: block;
                padding: 0;
               
            }
        
            &__link{
                color: #ffffff;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 400;
                transition-property: font-size;
                transition-property: color;
                transition-duration: .45s;
            }
            &__link:hover {
                color: #ff0000;
                font-size: 1.65rem;
               
            }
        
        }
        
       
         .dot {
           
            border: 6px solid #ff0000;
            background-color: #ff0000;
            border-radius: 50%;
            width: 1px;
            height: 1px;
           
           
        }
    
        .subMenu, .subMenu__link {
            display: none;
        }

        .header__list li:hover .subMenu{
            display: none;
        }

      
       
    }

    @media only screen and (max-width: 420px) {


        .header {
            background-color: #353b3c;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem;
            height: 10%vh;
        
            position: static;
            left: 0;
            right: 0;
            width: 100%;
        //   
        
            
            &__item {
                margin: 0px;
            } 
            
            &__logo {
                color: #ffffff ;
                font-family: 'Limelight', cursive;
                font-size: 2rem;
                font-weight: 60;
                width: 100%;
               
                &_a {
                    color: inherit;
                    text-decoration: none;
                    color: #ffffff ;
                    font-family: 'Limelight', cursive;
                    font-size: 2rem;
                    font-weight: 60;
                }
        
                &_a:hover {
                    color: #ffffff;
                }
            }
            &__list{
                list-style: none;
                display: block;
                padding: 0;
               
            }
        
            &__link{
                color: #ffffff;
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: 400;
                transition-property: font-size;
                transition-property: color;
                transition-duration: .45s;
            }
            &__link:hover {
                color: #ff0000;
                font-size: 1.65rem;
               
            }
        
        }
        
       
         .dot {
           
            border: 6px solid #ff0000;
            background-color: #ff0000;
            border-radius: 50%;
            width: 1px;
            height: 1px;
           
           
        }
    
        .subMenu, .subMenu__link {
            display: none;
        }

        .header__list li:hover .subMenu{
            display: none;
        }

      
    }
