* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.cell__text-1 {
  font-size: 1rem;
}

.cell__text-2 {
  font-size: 2rem;
}

.cell__text-3 {
  font-size: 3rem;
}

.cell__text-4 {
  font-size: 4rem;
}

.cell__text-5 {
  font-size: 5rem;
}

@media only screen and (max-width: 1110px) {
  .header {
    background-color: #353b3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    height: 10%vh;
    position: static;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header__item {
    margin: 0px;
  }
  .header__logo {
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    font-weight: 100;
    width: 100%;
  }
  .header__logo_a {
    color: inherit;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    font-weight: 100;
  }
  .header__logo_a:hover {
    color: #ffffff;
  }
  .header__list {
    list-style: none;
    display: block;
    padding: 0;
  }
  .header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .45s;
            transition-duration: .45s;
  }
  .header__link:hover {
    color: #ff0000;
    font-size: 1.65rem;
  }
  .dot {
    border: 6px solid #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }
  .subMenu, .subMenu__link {
    display: none;
  }
  .header__list li:hover .subMenu {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    background-color: #353b3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4rem;
    height: 10%vh;
    position: static;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header__item {
    margin: 0px;
  }
  .header__logo {
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    font-weight: 60;
    width: 100%;
  }
  .header__logo_a {
    color: inherit;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    font-weight: 60;
  }
  .header__logo_a:hover {
    color: #ffffff;
  }
  .header__list {
    list-style: none;
    display: block;
    padding: 0;
  }
  .header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .45s;
            transition-duration: .45s;
  }
  .header__link:hover {
    color: #ff0000;
    font-size: 1.65rem;
  }
  .dot {
    border: 6px solid #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }
  .subMenu, .subMenu__link {
    display: none;
  }
  .header__list li:hover .subMenu {
    display: none;
  }
}

.footer {
  position: static;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background: #353b3c;
}

.footer__mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 11px;
}

.footer__leftBox, .footer__centerBox, .footer__rightBox {
  color: #ffffff;
}

.footer__leftBox:hover, .footer__centerBox:hover, .footer__rightBox:hover {
  color: #ff0000;
}

.footer .footerText {
  margin-bottom: 0%;
}

.header {
  background-color: #353b3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
  left: 0;
  right: 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__item {
  margin: 10px;
}

.header__logo {
  color: #ffffff;
  font-family: 'Limelight', cursive;
  font-size: 4rem;
  font-weight: 100;
  padding: 1rem;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0%;
}

.header__logo_a {
  color: inherit;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Limelight', cursive;
  font-size: 4rem;
  font-weight: 100;
}

.header__logo_a:hover {
  color: #ffffff;
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .45s;
          transition-duration: .45s;
}

.header__link:hover {
  color: #ff0000;
  font-size: 1.65rem;
}

.header__logo:hover .dot {
  border: 6px solid #ff0000;
  background-color: #ff0000;
}

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 6px solid #ffffff;
  background-color: #ffffff;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.subMenu {
  position: absolute;
  background-color: #353b3c;
  list-style: none;
  display: none;
  padding: 1.8rem;
}

.subMenu__link {
  display: block;
  padding-bottom: 15px;
  margin-left: 0pt;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.3rem;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .45s;
          transition-duration: .45s;
}

.subMenu__link:hover {
  color: #ff0000;
  font-size: 1.33rem;
}

.header__list li:hover .subMenu {
  display: block;
  padding-left: 0pt;
  margin-left: 0pt;
}

.menu-icon {
  display: none;
  color: #ff0000;
}

.cell__text-1 {
  font-size: 1rem;
}

.cell__text-2 {
  font-size: 2rem;
}

.cell__text-3 {
  font-size: 3rem;
}

.cell__text-4 {
  font-size: 4rem;
}

.cell__text-5 {
  font-size: 5rem;
}

@media only screen and (max-width: 1110px) {
  .header {
    background-color: #353b3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
    height: 10%vh;
    position: static;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header__item {
    margin: 0px;
  }
  .header__logo {
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    font-weight: 100;
    width: 100%;
  }
  .header__logo_a {
    color: inherit;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 4rem;
    font-weight: 100;
  }
  .header__logo_a:hover {
    color: #ffffff;
  }
  .header__list {
    list-style: none;
    display: block;
    padding: 0;
  }
  .header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .45s;
            transition-duration: .45s;
  }
  .header__link:hover {
    color: #ff0000;
    font-size: 1.65rem;
  }
  .dot {
    border: 6px solid #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }
  .subMenu, .subMenu__link {
    display: none;
  }
  .header__list li:hover .subMenu {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .header {
    background-color: #353b3c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.4rem;
    height: 10%vh;
    position: static;
    left: 0;
    right: 0;
    width: 100%;
  }
  .header__item {
    margin: 0px;
  }
  .header__logo {
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    font-weight: 60;
    width: 100%;
  }
  .header__logo_a {
    color: inherit;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    font-weight: 60;
  }
  .header__logo_a:hover {
    color: #ffffff;
  }
  .header__list {
    list-style: none;
    display: block;
    padding: 0;
  }
  .header__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .45s;
            transition-duration: .45s;
  }
  .header__link:hover {
    color: #ff0000;
    font-size: 1.65rem;
  }
  .dot {
    border: 6px solid #ff0000;
    background-color: #ff0000;
    border-radius: 50%;
    width: 1px;
    height: 1px;
  }
  .subMenu, .subMenu__link {
    display: none;
  }
  .header__list li:hover .subMenu {
    display: none;
  }
}

.hero {
  height: 90vh;
  background-image: url(../assets/saxByN.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: 0% 51%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 2rem;
}

.hero__button {
  background-color: #ff0000;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 100px 100px 100px 100px;
  font-size: 2rem;
  margin-top: 1rem;
}

.hero__text {
  background-color: #ffffff;
  font-size: 1.5rem;
}

.logIn {
  width: auto;
}

.logIn__form {
  background-color: #353b3c;
}

.logIn__btn {
  background-color: #ff0000;
  border-radius: 100px 100px 100px 100px;
}

.shows, .logIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-items: center;
}

.shows__title, .titleEquipo, .titleIralcurso, .contactanos__title {
  font-family: 'Limelight', cursive;
  font-size: 2rem;
  padding: 1rem 2rem;
  padding-top: 5rem;
  text-align: center;
}

.titleIndex {
  background-color: #ffffff;
  font-family: 'Limelight', cursive;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-align: center;
}

.shows {
  height: 100vh;
  background-image: url(../assets/subte.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: center;
}

.shows__calendar {
  background-color: #ffffff;
}

.shows__month {
  text-align: center;
  font-weight: 900;
}

.shows__table {
  background-color: #ffffff;
}

.shows__day {
  color: #000000;
}

.shows__text {
  color: #ff0000;
}

.shows__form {
  background-color: #353b3c;
  text-align: center;
}

.containerEquipo {
  height: 90vh;
  margin: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.containerEquipo__cell1:hover {
  background: #000000;
}

.containerEquipo__cell2:hover {
  background: #000000;
}

.containerEquipo__cell3:hover {
  background: #000000;
}

.containerEquipo__cell4:hover {
  background: #000000;
}

.containerEquipo__cell5:hover {
  background: #000000;
}

.containerEquipo__cell6:hover {
  background: #000000;
}

.containerEquipo__cell1:hover .cell__Text {
  color: #ffffff;
}

.containerEquipo__cell2:hover .cell__Text {
  color: #ffffff;
}

.containerEquipo__cell3:hover .cell__Text {
  color: #ffffff;
}

.containerEquipo__cell4:hover .cell__Text {
  color: #ffffff;
}

.containerEquipo__cell5:hover .cell__Text {
  color: #ffffff;
}

.containerEquipo__cell6:hover .cell__Text {
  color: #ffffff;
}

.cell1__Text, .cell2__Text, .cell3__Text, .cell4__Text, .cell5__Text, .cell6__Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactanos {
  height: 180vh;
  background: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(3%, rgba(255, 255, 255, 0)), to(#1c1e20));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 3%, #1c1e20 100%);
}

.contactanos__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.irAlCurso {
  height: 100vh;
  background-image: url(../assets/blur1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */