*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
	padding: 0;
}

@import "./parciales/media-query";
@import './parciales/footer';
@import './parciales/header.scss';


   



.hero {
    height: 90vh;
    background-image: url(../assets/saxByN.jpg);
    display: flex;
    background-size: cover;
    background-position: 0% 51%;
    display: flex;
    align-items: center;
    justify-content: end;

    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 2rem;
    }

    &__button {
        background-color: #ff0000;
        color: #ffffff;
        padding: 1rem;
        border: none;
        border-radius: 100px 100px 100px 100px;
        font-size: 2rem;
        margin-top: 1rem;
    }
    &__text {
        background-color: #ffffff;
        font-size: 1.5rem;
    }
    
    

}

.logIn{
   
    width: auto;

    &__form{
        background-color: #353b3c;
    

    }
    &__btn{
        background-color: #ff0000;
        border-radius:  100px 100px 100px 100px;
    }
  
}

.shows, .logIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.shows__title, .titleEquipo, .titleIralcurso, .contactanos__title {
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    padding: 1rem 2rem;
    padding-top: 5rem;
    text-align: center;    
}

.titleIndex{
    background-color: #ffffff;
    font-family: 'Limelight', cursive;
    font-size: 2rem;
    padding: 1rem 2rem;
    text-align: center;    
}
.shows{
    height: 100vh;
    background-image: url(../assets/subte.jpg);
    display: flex;
    background-size: cover;
    background-position: center; 
    
    

    &__calendar{
        background-color: #ffffff;
    }

    &__month {
        text-align: center;
        font-weight:900;
    }

    &__table{
        background-color: #ffffff;
    }

    &__day{
        color: #000000

    }

    &__text{
        color: #ff0000

    }

    &__form{
        background-color: #353b3c;
        text-align: center;
    }


}


.containerEquipo {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    &__cell1:hover {
        background: #000000;
        
      }
      &__cell2:hover {
        background: #000000;
        
    
      }
      &__cell3:hover {
        background: #000000;
        
      }
      &__cell4:hover {
        background: #000000;
        
      }
      &__cell5:hover {
        background: #000000;
        
      }
      &__cell6:hover {
        background: #000000;
        
      }
      &__cell1:hover .cell__Text{
        color: #ffffff;
    }
    &__cell2:hover .cell__Text{
        color: #ffffff;
    }
    &__cell3:hover .cell__Text{
        color: #ffffff;
    }
    &__cell4:hover .cell__Text{
        color: #ffffff;
    }
    &__cell5:hover .cell__Text{
        color: #ffffff;
    }
    &__cell6:hover .cell__Text{
        color: #ffffff;
    }
  }
  
.cell1__Text, .cell2__Text, .cell3__Text, .cell4__Text, .cell5__Text, .cell6__Text{
      
    display: flex;
    justify-content: center;
    
  }

  .contactanos{
      height: 180vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 3%, rgba(28,30,32,1) 100%);


    &__form{
        display: flex;
        align-items: center;
        flex-direction: column;
        
}
}

  .irAlCurso{
    height: 100vh;
    background-image: url(../assets/blur1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}














